* {
  margin: 0;
  line-height: 2;
  box-sizing: border-box;
  font-family: monospace;
}

/* Header Styles */

.portfolio-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: #f3f1ef;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

/* .portfolio-container::before {
  content: "";
  width: 100%;
  height: 100vh;
  opacity: 0.09;
  position: fixed;
  background-image: url("./assets/img/noise.jpeg");
} */

.header-container {
  min-height: 100vh;
}

.header-content {
  display: flex;
  width: -webkit-fill-available;
  margin: 30px;
  font-size: 17px;
  text-align: center;
  flex-direction: row;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  border-radius: 50%;
}

.greeting-content {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 100px 0 20px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.my-name {
  color: #b0926a;
}

.quote {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  font-family: fantasy;
  margin-top: 100px;
}

.scroll {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  color: red;
  font-size: 14px;
}

/* Self-Introducing */

.self-intro-container {
  min-height: 100vh;
  background-color: #f6f6f6;
  margin: 20px;
}

.about-me-text {
  font-size: 28px;
  font-weight: bold;
  font-family: cursive;
  text-transform: uppercase;
  margin: 0px 30px 50px 30px;
}

.intro-text {
  margin: 40px;
  text-align: center;
  font-family: fantasy;
  font-size: 16px;
}

.career-goal-container {
  display: flex;
}

.bg-intro {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin: 30px 0 30px 30px;
}

.goal-text {
  display: flex;
  align-items: center;
}

/* Experiences */

.experiences-container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #e0dfd3;
  min-height: 100vh;
}

.experiences-detail,
.skills-detail-container {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin-bottom: 40px;
}

.experiences-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.education-text,
.project-text,
.skills-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: #967e76;
  display: flex;
  align-self: flex-start;
  color: #ebe3d5;
}

.education-info {
  font-size: 16px;
}

.skills-detail {
  display: flex;
  line-height: 50px;
  flex-direction: row;
}

.skills-index {
  width: 28%;
  height: 5px;
  display: flex;
  align-self: center;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #f5f1ec;
}

.react-native-skill {
  width: 50%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.html-css-skill {
  width: 30%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.java-script-skill {
  width: 40%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.skills-index-layer {
  width: 13px;
  height: 13px;
  display: flex;
  align-self: center;
  border-radius: 50%;
  background-color: #b5a598;
}

.career-detail-container {
  margin-top: 25px;
}

.time-line {
  background-color: #967e76;
  font-size: 16px;
  font-weight: 600;
  color: #ebe3d5;
  margin-bottom: 20px;
  width: fit-content;
}

.work-place {
  font-size: 15px;
  background-color: #bfb29e;
  width: fit-content;
  color: #ebe3d5;
  font-weight: 600;
}

.experience-list {
  line-height: 25px;
  font-size: 14px;
}

/* Footer */

.footer-container {
  margin: 20px;
  background-color: #474a43;
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-text {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  padding: 20px 0px 0px 20px;
}

.drop-message-text {
  font-size: 20px;
  margin: 40px;
}

.phone-image {
  width: 33%;
  height: 430px;
  filter: contrast(0.5);
}

.contact-info-section {
  display: flex;
  flex-direction: row;
  background-color: #e8e8e2;
  color: #474a43;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone-image {
  width: 33%;
  height: 430px;
  filter: contrast(0.5);
}

.basic-icon {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.social-contact-text {
  display: flex;
  font-size: 18px;
  margin: 20px;
}

.social-contact-icons {
  display: flex;
  flex-direction: row;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
}

.align-bottom {
  align-self: flex-end; /* Để căn chỉnh phần tử này ở phía dưới cùng */
}

@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
