body {
  margin: 0;
}

* {
  margin: 0;
  line-height: 2;
  box-sizing: border-box;
  font-family: monospace;
}

/* <!-- Header --> */

.container {
  /* z-index: 1; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: #f3f1ef;
  position: relative;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}

.container::before {
  content: "";
  width: 100%;
  height: 100vh;
  opacity: 0.09;
  position: fixed;
  background-image: url("./assets/img/noise.jpeg");
}

.header {
  margin: 20px;
  display: flex;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  flex-direction: row;
  border-top: 1px solid #ccc;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.header-content {
  z-index: 1;
  margin: 0;
}

.wrap-header-info {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
}

.left-info-header {
  z-index: 1;
  display: flex;
  margin: 0px 0px 20px 20px;
  align-items: center;
  flex-direction: column;
}

.avatar-container {
  display: flex;
  justify-content: flex-end;
}

.avatar {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  border-radius: 50%;
}

.left-header-content {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 100px 0 20px 0;
  text-transform: uppercase;
}

.my-name {
  color: #b0926a;
}

.quote {
  font-size: 18px;
  text-align: center;
  font-family: fantasy;
}

.get-more-info {
  z-index: 1;
  display: flex;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  margin: 180px 0 20px 20px;
}

/* <!-- General self-introducing --> */

.self-intro-text {
  z-index: 1;
  font-size: 28px;
  font-weight: bold;
  font-family: emoji;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.wrap-self-intro {
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  background-color: #f5f1ec;
  min-height: 100vh;
}

.self-intro-detail {
  display: flex;
  text-align: justify;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
  background-color: #e4dccf;
  justify-content: space-around;
}

.self-intro-para {
  padding-left: 100px;
  padding-right: 30px;
}

.wrap-resume {
  display: flex;
  align-items: center;
}

.resume-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin-right: 40px;
}

.resume {
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.right-self-intro {
  display: flex;
  justify-content: center;
}

.career-goal,
.self-intro-interests {
  text-align: justify;
  display: flex;
  margin-left: 300px;
  z-index: 1;
}

.career-goal-para {
  position: absolute;
  width: 290px;
  margin-top: 300px;
  margin-left: -165px;
  font-size: 15px;
}

.intro-image {
  width: 525px;
  height: 300px;
  margin: 70px 40px 0 0;
  border-radius: 15px;
  filter: saturate(0.4) contrast(0.9);
  z-index: -1;
}

/* <!-- Experiences --> */

.wrap-body-info {
  z-index: 1;
  margin: 0px 40px 0px 40px;
}

.wrap-experiences-info {
  padding: 20px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  background-color: #e0dfd3;
  min-height: 100vh;
}

.experiences-detail,
.wrap-skills-detail {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  margin-bottom: 40px;
}

.experiences-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.education-text,
.project-text,
.skills-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: #967e76;
  display: flex;
  align-self: flex-start;
  color: #ebe3d5;
}

.skills-detail {
  display: flex;
  line-height: 50px;
  flex-direction: row;
}

.skills-index {
  width: 28%;
  height: 5px;
  display: flex;
  align-self: center;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #f5f1ec;
}

.react-native-skill {
  width: 50%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.html-css-skill {
  width: 30%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.java-script-skill {
  width: 40%;
  height: 7px;
  display: flex;
  align-self: center;
  flex-direction: row;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #b5a598;
}

.skills-index-layer-circle {
  width: 13px;
  height: 13px;
  display: flex;
  align-self: center;
  border-radius: 50%;
  background-color: #b5a598;
}

.wrap-education-info {
  display: flex;
  line-height: 25px;
  margin-bottom: 40px;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 15px;
  width: 55%;
}

.project-info {
  width: 30%;
  height: auto;
  border-width: 10px;
  border-color: beige;
}

.career-details {
  width: 60%;
  display: flex;
  text-align: justify;
  flex-direction: column;
  margin-top: 130px;
}

.time-line {
  background-color: #967e76;
  font-size: 16px;
  font-weight: 600;
  color: #ebe3d5;
  margin-bottom: 20px;
  align-self: flex-start;
}

.work-place {
  font-size: 15px;
  background-color: #bfb29e;
  align-self: flex-start;
  color: #ebe3d5;
  font-weight: 600;
}

.list {
  line-height: 25px;
  font-size: 14px;
}

/*  <!-- Footer --> */

.footer-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  background-color: #474a43;
  color: #f5f5f5;
}

.contact-text {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 0px 0px 20px;
}

.wrap-message-end {
  margin: 40px;
}

.warp-footer-bg {
  display: flex;
  justify-content: end;
}

.footer-img-bg {
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
}

.phone-image {
  width: 33%;
  height: 430px;
  filter: contrast(0.5);
}

.wrap-basic-contact {
  width: 100%;
  height: 430px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
}

.drop-message-text {
  font-size: 20px;
}

.basic-contact {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  flex-direction: column;
  color: black;
  width: 100%;
  padding: 20px;
}

.wrap-contact-info {
  display: flex;
  flex-direction: row;
  padding: 10px 0px 10px 0px;
  align-items: center;
}

.basic-icon {
  width: 40px;
  height: 30px;
  padding-right: 10px;
}

.message-text {
  font-size: 16px;
  font-family: cursive;
  text-align: justify;
  margin: 15px 0px 10px 0px;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.social-contact-text {
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  color: black;
}

.social-contact {
  display: flex;
  cursor: pointer;
  margin-top: 30px;
  flex-direction: row;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
